<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssb.soccer.user.mapper.PasswdPolicyMapper">

    <!-- 모든 사용자 조회 -->
    <select id="findAllDatas" resultType="ssb.soccer.user.model.PasswdPolicy">
        SELECT * FROM passwd_policy
        WHERE isActive = 1;
    </select>


</mapper>
