<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssb.soccer.team.mapper.TeamMapper">

    <insert id="createTeam" parameterType="Team" useGeneratedKeys="true" keyProperty="id">
        insert into team (team_name, team_member_max_count, team_level, team_activity_area)
        values (#{teamName}, #{teamMemberMaxCount}, #{teamLevel}, #{teamActivityArea});
    </insert>

    <select id="getTeamList" resultType="TeamDetailDto">
        SELECT
            t.id,
            t.team_name,
            t.team_member_max_count,
            t.team_level,
            t.team_activity_area,
            u.user_id,
            team_member_counts.team_member_count
        FROM team t
                 LEFT JOIN (

            SELECT
                team_id,
                COUNT(*) AS team_member_count
            FROM team_membership
            GROUP BY team_id
        ) AS team_member_counts ON t.id = team_member_counts.team_id
                 LEFT JOIN team_membership tm ON t.id = tm.team_id
                 LEFT JOIN user u ON tm.user_fk = u.id
        WHERE tm.role = '팀장';
    </select>

    <select id="getTeamDetail" resultType="TeamDetailDto" parameterType="Integer">
        select
               t.id,
               t.team_name,
               t.team_member_max_count,
               t.team_level,
               t.team_activity_area,
               u.user_id,
               u.name
        from team t
                 left join team_membership tm on t.id = tm.team_id
                 left join user u on u.id = tm.user_fk
        where t.id = #{teamId} and role = '팀장';
    </select>


</mapper>
